<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block customCSS %}{% endblock customCSS %}
        <title>{% block title %}{% endblock title %}</title>
    </head>
    
    <body>
    
        <!-- top nav bar -->
        <div class="topnav">
            <a class="active" href="{{ url_for('auth.home') }}">Inicio</a>
            <a href="#container">Carrusel</a>
            <a href="#services">Estadisticas</a>
            <a href="#contacto">Contactenos</a>
            <a href="#todo">Nosotros</a>
        <!-- top nav bar -->
    
        {% block contents %}{% endblock contents %}
        <br>
        {% block customScripts %}{% endblock customScripts %}
    </body>
</html>